body{
  background-image: url(images/g6.gif);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Sigmar One', cursive;
  text-align: center;
  font-size: 14pt;
}



.box1 {
  width: 100px;
  height: 65px;
  background-color: yellow;
  border: 5px solid black;
  position: absolute;
  top: 600px;
  left: 1100px;
  text-align: center;
  border-radius: 10px;
}

.box2 {
  width: 130px;
  height: 35px;
  background-color: yellow;
  border: 5px solid black;
  position: absolute;
  top: 600px;
  left: 100px;
  text-align: center;
  border-radius: 10px;
}

.box3 {
  width: 100px;
  height: 35px;
  background-color: yellow;
  border: 5px solid black;
  position: absolute;
  top: 550px;
  left: 1100px;
  text-align: center;
  border-radius: 10px;

}
